<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>753953650648-1qtunc5nf41opqnl8lu4ft2fh743cbhg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.753953650648-1qtunc5nf41opqnl8lu4ft2fh743cbhg</string>
	<key>API_KEY</key>
	<string>AIzaSyDcPPahaw-E3t1psEwbsDo7hnfg4eFcJ5w</string>
	<key>GCM_SENDER_ID</key>
	<string>753953650648</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wfka.wfka</string>
	<key>PROJECT_ID</key>
	<string>wfka-app</string>
	<key>STORAGE_BUCKET</key>
	<string>wfka-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:753953650648:ios:45583e6b203db40cf5a4ad</string>
</dict>
</plist>